<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ lang.cajasoceanico }}</title>
    {% include 'partials/reportcss.twig' %}
</head>
<body>
<h4>{{ lang.cajasoceanico_title }}</h4>
<div class="vItems">
    <table class="table">
        <tr>
            <td>{{ lang.cajasoceanico_cb_barra }}</td>
            <td>{{cajasoceanico.cb_barra}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_fecha }}</td>
            <td>{{cajasoceanico.cb_fecha}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_cambio }}</td>
            <td>{{cajasoceanico.cb_cambio}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_efectivo }}</td>
            <td>{{cajasoceanico.cb_efectivo}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_tarjeta }}</td>
            <td>{{cajasoceanico.cb_tarjeta}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_total }}</td>
            <td>{{cajasoceanico.cb_total}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_efectivoz }}</td>
            <td>{{cajasoceanico.cb_efectivoz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_tarjetaz }}</td>
            <td>{{cajasoceanico.cb_tarjetaz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_totalz }}</td>
            <td>{{cajasoceanico.cb_totalz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_diferencia }}</td>
            <td>{{cajasoceanico.cb_diferencia}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_anticipada }}</td>
            <td>{{cajasoceanico.cb_anticipada}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasoceanico_cb_camareros }}</td>
            <td>{{cajasoceanico.cb_camareros}}</td>
        </tr>
       
    </table>
    
</div>
</body>
