<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Hugo 0.84.0">
	<title>GPelicano - Cajas</title>
	<link href="{{ assets('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<meta name="theme-color" content="#7952b3">
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}
		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>

</head>
<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check" viewBox="0 0 16 16">
		<title>Check</title>
		<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
	</symbol>
</svg>

<div class="container py-3">
	<header>
		<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
			<a href="/" class="d-flex align-items-center text-dark text-decoration-none">
			<h2> Grupo Pelícano </h2>
			<!-- <img src="{{ assets('assets/images/speed.png')}}" class="logo-icon" alt="Speed" style="width: 200px"> -->
			</a>

			<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
				{% if auth.isLogin %}
					<!-- <a class="me-3 py-2 text-dark text-decoration-none" href="{{route('home')}}">Ir al Panel</a> -->
				{% else %}
					<!-- <a class="me-3 py-2 text-dark text-decoration-none" href="{{route('login')}}">Login</a> -->
				{% endif %}
				
			</nav>
		</div>

		<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
			<h3 class="display-4 fw-normal">Gestión de Cajas</h3>
			<p class="fs-5 text-muted">Inicia sesión o ve al Panel de Control</p>
			<p>
				{% if auth.isLogin %}
					<a href="{{ route('home') }}" class="btn btn-primary btn-lg">Panel de Control</a>
<a href="https://reservados.cerobyte.com" class="btn btn-primary btn-lg">Aplicación Reservados</a>
					
				{% else %}
					<a href="{{ route('login') }}" class="btn btn-primary btn-lg">Login</a>
					<a href="https://reservados.cerobyte.com" class="btn btn-primary btn-lg">Aplicación Reservados</a>
					
				{% endif %}
				
			</p>
		</div>
	</header>
	<main>
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
		</div>
	</main>

</div>
</body>
</html>
