{% extends "layouts/app.twig" %}
{% block title %}{{ lang.cajasatlantico57 }} {{ lang.details }}{% endblock %}
{% block content %}
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">
                    <a href="{{ route('cajasatlantico57.index') }}" class="text-dark">{{ lang.cajasatlantico57 }}</a>
                </div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item active" aria-current="page">{{ lang.cajasatlantico57 }} {{ lang.details }}</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary btn-sm" href="{{ route('cajasatlantico57.index') }}">
                            <i class="bi bi-reply font16"></i>{{ lang.go_back }}</a>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-xl-7 mx-auto">
                    <div class="card shadow-none border">
                        <div class="card-body">
                            <ul class="list-group">
                                   
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_barra }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_barra}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_fecha }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_fecha}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_cambio }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_cambio}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_efectivo }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_efectivo}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_tarjeta }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_tarjeta}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_total }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_total}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_efectivoz }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_efectivoz}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_tarjetaz }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_tarjetaz}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_totalz }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_totalz}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_diferencia }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_diferencia}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_anticipada }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_anticipada}}</span>
                                </li>
                    
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0">{{ lang.cajasatlantico57_cb_camareros }}</h6>
                                    <span class="text-secondary">{{cajasatlantico57.cb_camareros}}</span>
                                </li>
                
                               
                            </ul>
                            
                        </div>
                    <p class="text-center">
                        <a href="{{route('cajasatlantico57.edit',{'id':cajasatlantico57.id})}}" class="btn btn-outline-primary">{{ lang.edit }} {{ lang.cajasatlantico57 }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
