{% extends "layouts/auth.twig" %}

{% block title %}{{ lang.change_password }}{% endblock %}

{% block content %}
	<form action="{{route('change.password')}}" name="register" method="post">
		{{ csrf.field | raw }}
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-5">
				<div class="card px-5 py-5 shadow-none">
					<h5 class="mt-3">{{ lang.change_password }}</h5>
					<div class="form-input{{ errors.old_password ? ' has-error' : '' }}">
						<i class="fa fa-lock"></i> <input type="password" name="old_password" class="form-control" placeholder="{{ lang.old_password }}">
						{% if errors.old_password %}
							<span class="hel-block">{{ errors.old_password | first }}</span>
						{% endif %}
					</div>
					<div class="form-input{{ errors.new_password ? ' has-error' : '' }}">
						<i class="fa fa-lock"></i> <input type="password" name="new_password" class="form-control" placeholder="{{ lang.new_password }}">
						{% if errors.new_password %}
							<span class="hel-block">{{ errors.new_password | first }}</span>
						{% endif %}
					</div>
					<button type="submit" class="btn btn-primary mt-4 signup">{{ lang.change_password }}</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

