<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{{ lang.cajasmy }}</title>
    {% include 'partials/reportcss.twig' %}
</head>
<body>
<h4>{{ lang.cajasmy_title }}</h4>
<div class="vItems">
    <table class="table">
        <tr>
            <td>{{ lang.cajasmy_cb_barra }}</td>
            <td>{{cajasmy.cb_barra}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_fecha }}</td>
            <td>{{cajasmy.cb_fecha}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_cambio }}</td>
            <td>{{cajasmy.cb_cambio}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_efectivo }}</td>
            <td>{{cajasmy.cb_efectivo}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_tarjeta }}</td>
            <td>{{cajasmy.cb_tarjeta}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_total }}</td>
            <td>{{cajasmy.cb_total}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_efectivoz }}</td>
            <td>{{cajasmy.cb_efectivoz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_tarjetaz }}</td>
            <td>{{cajasmy.cb_tarjetaz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_totalz }}</td>
            <td>{{cajasmy.cb_totalz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_diferencia }}</td>
            <td>{{cajasmy.cb_diferencia}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_anticipada }}</td>
            <td>{{cajasmy.cb_anticipada}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasmy_cb_camareros }}</td>
            <td>{{cajasmy.cb_camareros}}</td>
        </tr>
       
    </table>
    
</div>
</body>
