<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ lang.cajasplayaclub }}</title>
    {% include 'partials/reportcss.twig' %}
</head>
<body>
<h4>{{ lang.cajasplayaclub_title }}</h4>
<div class="vItems">
    <table class="table">
        <tr>
            <td>{{ lang.cajasplayaclub_cb_barra }}</td>
            <td>{{cajasplayaclub.cb_barra}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_fecha }}</td>
            <td>{{cajasplayaclub.cb_fecha}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_cambio }}</td>
            <td>{{cajasplayaclub.cb_cambio}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_efectivo }}</td>
            <td>{{cajasplayaclub.cb_efectivo}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_tarjeta }}</td>
            <td>{{cajasplayaclub.cb_tarjeta}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_total }}</td>
            <td>{{cajasplayaclub.cb_total}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_efectivoz }}</td>
            <td>{{cajasplayaclub.cb_efectivoz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_tarjetaz }}</td>
            <td>{{cajasplayaclub.cb_tarjetaz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_totalz }}</td>
            <td>{{cajasplayaclub.cb_totalz}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_diferencia }}</td>
            <td>{{cajasplayaclub.cb_diferencia}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_anticipada }}</td>
            <td>{{cajasplayaclub.cb_anticipada}}</td>
        </tr>
       <tr>
            <td>{{ lang.cajasplayaclub_cb_camareros }}</td>
            <td>{{cajasplayaclub.cb_camareros}}</td>
        </tr>
       
    </table>
    
</div>
</body>
