<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ lang.users }}</title>
    {% include 'partials/reportcss.twig' %}
</head>
<body>
<h4>{{ lang.users }}</h4>
<div class="vItems">
    <table class="table">
        <thead>
        <tr>
            <th>{{ lang.user_date }}</th>
            <th>{{ lang.user_name }}</th>
            <th>{{ lang.user_username }}</th>
            <th>{{ lang.user_email }}</th>
            <th>{{ lang.user_last_login }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in users %}
        <tr>
            <td>{{ row.registered|date('d/m/Y') }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.username }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.last_login|date("d/m/Y") }}</td>
        </tr>
        {% endfor  %}
        </tbody>
    </table>
</div>
</body>
